* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

p,
a,
i,
b,
h1,
h2,
h3,
h4,
h5,
h6,
em,
sub,
sub,
area,
form,
span,
small,
embed,
footer,
strong,
button,
article,
address {
    color: #344A5F;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    transition: linear .2s;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #03A5EF;
    transition: linear .2s;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

button {
    border: 1px solid #151F29;
    outline: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.brand-btn {
    display: inline-block;
    background: #252525;
    color: #fff;
    font-size: 14px;
    padding: 7px 25px;
    border-radius: 6px;
    transition: linear .2s;
    border: 1px solid #252525;
}

.brand-btn:hover,
.brand-btn:focus {
    color: #252525;
    background: #fff;
    border: 1px solid #252525;
}

.brand-btn-outline {
    display: inline-block;
    color: #252525;
    background: #fff;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 6px;
    transition: linear .2s;
    border: 1px solid #252525;
}

.brand-btn-outline:hover,
.brand-btn-outline:focus {
    background: #252525;
    color: #fff;
    border: 1px solid #252525;
}

/* custom css for bootstrap */
.container {
    max-width: 1200px;
}

.navbar-brand {
    width: 150px;
    margin-right: 40px;
}

.navbar-brand img {}

.navbar-toggler {
    border: 1px solid #252525;
    border-radius: 6px;
    padding: 5px 10px;
    box-shadow: 0 3px 6px #80808021;
}

.navbar-toggler span {
    color: #252525;
}

/* ************************************* */
/* navigation bar start from here */
/* ************************************* */
header {
    padding: 0;
    background: #fff;
    box-shadow: 0 3px 6px #80808021;
}

header nav {
    padding: 12px 0px !important;
}

.font-search {}

.font-search form {
    overflow: hidden;
    border-radius: 6px;
    width: 400px;
    position: relative;
    border: 1px solid #00000040;
    box-shadow: 0 1px 3px #6d6d6d3b;
    padding: 5px;
}

.font-search form label {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.font-search form label span {

    padding: 3px;
    opacity: .5;
}

.font-search form input {
    font-size: 15px;
    padding: 2px 15px;
    width: 100%;
    border: none;
    padding-left: 35px;
}

.font-search form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
    padding: 0px 20px;
    border: 1px solid #252525;
    background: #252525;
    color: #fff;
}

.font-search form button span {}

.menu-items {}

.menu-items ul {}

.menu-items ul li {
    padding: 0 10px;
}

.menu-items ul li:last-child {
    padding: 0;
}

.menu-items ul li a {
    font-size: 15px;
}

/* ************************************* */
/* navigation bar end here */
/* ************************************* */


/* ************************************* */
/* latest font section start from here */
/* ************************************* */
.latest-font {
    padding-top: 30px;
}

.latest-item {
    position: relative;
    overflow: hidden;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 240px;
    transition: linear .3s;
    margin-bottom: 25px;
}

.latest-item:before {
    content: "";
    position: absolute;
    filter: blur(10px);
    background-image: linear-gradient(#08192b26, #08192bdc);
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.latest-item:hover {
    background-size: 110% 110%;
    transition: linear .3s;
}

.latest-item h2 {
    position: absolute;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.latest-item a {
    padding: 6px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 14px;
    background: #252525;
    color: #fff;
    line-height: 1;
    transition: linear .2s;
}

.latest-item a:hover {
    transition: linear .2s;
    background: #010101;
}

.latest-item a span {
    width: 20px;
    padding-left: 3px;
    padding-top: 3px;
}

.more-btn {
    display: inline-block;
    background: #252525;
    color: #fff;
    font-size: 14px;
    padding: 7px 25px;
    border-radius: 6px;
    transition: linear .2s;
    border: 1px solid #252525;
}

.more-btn:hover {
    color: #252525;
    background: #fff;
    border: 1px solid #252525;
}

/* ************************************* */
/* latest font section end here */
/* ************************************* */


/* ************************************* */
/* categary section start from here */
/* ************************************* */
.categary {
    background: #fafafa;
}

.categary h2 {
    font-size: 26px;
    font-weight: 500;
}

#fontFilter {}

.filter {
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
    column-count: 5;
}

.filter li {
    margin: 8px;
    margin-left: 0;
}

.filter li:last-child {
    font-size: 13px;
    color: red;
    opacity: .5;
}

.filter li a {
    font-size: 15px;
    font-weight: 400;
}

/* ************************************* */
/* categary section end here */
/* ************************************* */


/* ************************************* */
/* font preview section start from here */
/* ************************************* */
.font-preview {
    background: #dde6e9;
}

.font-value {}

.font-value form {}

.font-value form {}

.font-value-item {
    display: inline-block;
    margin: 8px 0;
    margin-right: 20px;
    position: relative;
}

.font-value-item:last-child {
    margin-right: 0px;
}

.font-value-item label {
    margin: 0;
    font-size: 15px;
    padding-right: 10px;
}

.font-value-item input {
    border-radius: 6px;
    border: 1px solid #25252525;
    padding: 5px 15px;
    font-size: 15px;
    color: #252525;
}

.font-value-item button {}

#Preview {
    width: 320px;
}

#font-weight {
    border-radius: 6px;
    border: 1px solid #25252525;
    padding: 5px 15px;
    font-size: 15px;
    color: #252525;
}

#font-weight option {}

#ColorHex {
    width: 130px;
}

#Color {
    padding: 0;
    width: 36px;
    position: absolute;
    right: 0;
    height: 100%;
    overflow: hidden;
}

.italic {
    border-radius: 6px;
    border: 1px solid #252525;
    padding: 5px 8px;
    font-size: 15px;
    color: #252525;
}

.italic-active {
    border-radius: 6px;
    border: 1px solid #252525;
    padding: 5px 8px;
    font-size: 15px;
    color: #fff;
    background: #252525;
}

.font-preview-btngroup {}

.font-preview-btngroup button {
    display: inline-block;
    background: #252525;
    color: #fff;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 6px;
    transition: linear .2s;
    border: 1px solid #252525;
    margin-right: 15px;
}

.font-preview-btngroup button:last-child {
    margin-right: 0;
    background: #fff;
    color: #252525;
}

.font-preview-btngroup button:hover {
    box-shadow: 0 2px 3px gray;
}

/* ************************************* */
/* font preview section end here */
/* ************************************* */


/* ************************************* */
/* font list section start from here */
/* ************************************* */
.font-list {}

.font-header {
    background: #252525;
    padding: 10px 0;
    margin-bottom: 30px;
}

.font-header p {
    margin-bottom: 0;
    font-size: 15px;
    color: #ffffffbf;
}

.font-header p a {
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
}

.font-header p a:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.font-header p a:hover {
    text-decoration: underline;
}

.font-body {
    margin-bottom: 30px;
    display: table;
    width: 100%;
}

.view-font {
    overflow-x: auto;
}

.view-font a {
    font-size: 56px;
}


.font-action {
    text-align: right;
    display: table-cell;
    width: 150px;
    vertical-align: middle;
}

.font-action a {
    display: inline-block;
    background: #252525;
    color: #fff;
    font-size: 14px;
    padding: 7px 25px;
    border-radius: 6px;
    transition: linear .2s;
    border: 1px solid #252525;
}

.font-action a:hover {
    box-shadow: 0 2px 6px gray;
}

.font-action span {
    margin-left: 5px;
}

/* ************************************* */
/* font list section end here */
/* ************************************* */

.font-pagination {
    border-top: 1px solid #80808030;
}

.font-pagination .pagination {
    justify-content: flex-end;
    margin-bottom: 0;
}

.font-pagination .page-item {
    font-size: 15px;
}

.font-pagination .page-item.active .page-link {
    background: #252525;
    color: #fff;
    border-color: #252525;
}

.font-pagination .page-item .page-link {
    color: #252525;
    font-size: 15px;
}

/* footer section */
.footer-sec {
    padding: 70px 0;
    background: #151F29;
}

.footer-nav {}

.footer-nav ul {
    padding: 0;
    list-style: none;
}

.footer-nav ul li {
    display: inline-block;
    padding: 3px 10px;
}

.footer-nav ul li a {
    font-size: 15px;
    color: #ffffffc9;
}

.footer-nav ul li a:hover {
    color: #fff;
}

.social-icon {}

.social-icon ul {
    padding: 0;
    list-style: none;
}

.social-icon ul li {
    display: inline-block;
    margin: 3px 5px;
}

.social-icon ul li a {
    color: #fff;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 6px;
    position: relative;
}

.social-icon ul li a:hover {
    background: #fff;
    color: #252525;
}

.social-icon ul li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background: #0C1117;
    border-top: 1px solid #344A5F8F;
    padding: 15px 0;
    color: #ffffffff;
}

footer p {
    margin-bottom: 0;
    font-size: 15px;
}

footer p a {
    margin: 0 5px;
}

.subscribe {
    width: 300px;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #fff;
}

.subscribe input {
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 5px 15px;
    padding-right: 110px;
    font-weight: 300;
}

.subscribe button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #252525;
    border-radius: 6px;
}

.page-cover-sec {
    background-image: url(../images/free-font-cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.page-cover-sec:before {
    content: "";
    position: absolute;
    filter: blur(10px);
    background-image: linear-gradient(#08192b26, #08192bdc);
    width: 120%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-cover-sec h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 56px;
}

/* ********************************** */
/* sign up form */
/* ********************************** */
.sign-up-form {
    background-image: url(../images/sign-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 50px 45px;
    position: relative;
    top: -220px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 6px #8000801a;
    transform: scale(1);
    transition: linear .3s;
}

.sign-up-form:hover {
    transform: scale(1.1);
    transition: linear .3s;
}

.sign-up-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.sign-up-form form {}

.sign-up-form form .checkbox {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

.sign-up-form form .checkbox input {
    width: 20px;
    display: table-cell;
    height: 20px;
    padding: 0;
}

.sign-up-form form .checkbox p {
    margin: 0;
    padding-left: 15px;
}

.sign-up-form form label {
    width: 100%;
    padding-left: 8px;
    margin-bottom: 8px;
    font-size: 15px;
}

.sign-up-form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 15px;
    border: 1px solid #2525253d;
    border-radius: 6px;
    font-size: 15px;
}

.sign-up-form form button {
    display: inline-block;
    background: #252525;
    color: #fff;
    font-size: 14px;
    padding: 7px 25px;
    border-radius: 6px;
    transition: linear .2s;
    border: 1px solid #252525;
}

.sign-up-form form button:hover {
    box-shadow: 0 1px 6px gray;
}

.sign-up-form p {
    font-size: 15px;
}

.sign-up-form a {
    color: #1e87f0;
    font-size: 15px;
}

/* font-banner */
.font-banner {
    background-image: url(../images/11333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    padding: 120px 0;
}

.font-banner::before {
    content: "";
    position: absolute;
    filter: blur(10px);
    background-image: linear-gradient(#08192b26, #08192bdc);
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font-banner h2 {
    color: #fff;
    line-height: 1;
    margin-bottom: 8px;
    font-size: 56px;
}

.font-banner a {}

/* font-details */
.font-details {}

.font-details h2 {
    font-size: 26px;
    font-weight: 500;
}

.font-details table {
    width: 100%;
}

.font-details table tbody {
    width: 100%;
    display: block;
    border: 1px solid #80808045;
}

.font-details table tbody tr {
    width: 100%;
    display: block;
    border-bottom: 1px solid #80808045;
}

.font-details table tbody tr th {
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 400;
    width: 250px;
    background: #fafafa;
    border-right: 1px solid #80808045;
}

.font-details table tbody tr td {
    padding: 5px 15px;
    font-size: 15px;
}

.font-details table tbody tr td a {
    text-decoration: underline;
}

/* *********************************************** */
/* contributor section css start from here */
/* *********************************************** */
.contributor-cover {
    background-image: url(../images/11333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    height: 200px;
}

.contributor-cover::before {
    content: "";
    position: absolute;
    filter: blur(10px);
    background-image: linear-gradient(#08192b26, #08192bdc);
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contributor-profile {
    position: relative;
    top: -100px;
}

.contributor-photo {
    height: 150px;
    width: 150px;
    background-image: url(../images/contributor\ pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 6px solid #eee;
    box-shadow: 0 2px 3px #80808066;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 25px;
    background-color: #252525;
}

.contributor-profile h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
    margin-bottom: 8px;
}

.contributor-profile p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.contributor-profile p span {
    font-size: 14px;
    color: #616161;
}

.contributor-profile p b {
    font-weight: 200;
}

/* *********************************************** */
/* contributor end */
/* *********************************************** */